@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #111827; /* same as bg-gray-900 */
}